.zxsh-sidebar {
    z-index: 1;
    position: absolute;
    width: 400px;
    height: 100%;
    background-color: rgb(44, 51, 61);
}

.zxsh-sidebar.horizTranslate {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    margin-left: 100px !important;
}

.zxsh-sidebar.horizTranslateBack {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    margin-left: 0px !important;
}