html, body{
    height: 100%;
    overflow:hidden;
    padding: 0px;
    margin: 0px;
}

#main-container{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#sub-container{
    width: 100%;
    height: 100%;
    overflow: auto;
    box-sizing: content-box; /* So the width will be 100% + 17px */
}

.page {
    width: 100%;
    height: 1000px;
}

.red {
    background-color: brown;
}

.sky {
    background-color: bisque;
}